.fullpage {
  height: 100vh;
}

.welcome-container {
  width: 100%;
  display: flex;
  padding-top: 80px;
  padding-bottom: 100px;
}

section {
  width: 50%;
}

.linkedinPhoto {
  border-radius: 50%;
  float: right;
  margin-right: 50px;
}

.welcome-text {
  display: flex;
  padding-left: 50px;
}

.text-div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-text h2 {
  font-size: 45px;
  margin: 0;
  font-weight: 600;
  color: #333333;
}

.welcome-h1 {
  font-size: 65px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4169e1;
  font-weight: 800;
}

.welcome-h3 {
  font-size: 45px;
  color: #4169e1;
  font-weight: 800;
  display: inline;
}

@media only screen and (max-width: 992px) {
  .welcome-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 100px;
    align-items: center;
  }
  section {
    width: 100%;
  }
  .welcome-text {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
  }
  .linkedinPhoto {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    float: none;
    margin: auto;
  }
}

@media only screen and (max-width: 375px) {
  .welcome-h1 {
    margin: 20px auto;
  }
  .welcome-text h2 {
    display: none;
  }
}
