input,
textarea {
  background: none;
  color: #333333;
  font-size: 1.8rem;
  padding: 1.5rem 1rem 1.5rem 0.5rem;
  display: block;
  max-width: 30rem;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #333333;
}

input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 30rem;
}

.input-field:focus {
  outline: none;
}

.bar {
  display: block;
  max-width: 30rem;
  height: 1px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form-div {
  margin: auto;
}

a {
  text-decoration: none;
  color: #333333;
  margin: auto;
}

.contact-btn-text .btn-send {
  margin: auto;
}

.contact-link-div {
  margin-bottom: 2rem;
}

.contact-link-buttons {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.input-field {
  margin: auto auto 6rem auto;
  width: 40rem;
}

.contact-container {
  margin: 4rem auto 2rem auto;
}

.contact-container h1 {
  margin: 6rem auto 4rem auto;
}

.send-button {
  margin: auto;
}

.github-button {
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}

.contact-btn-text {
  display: flex;
}
